:root {
    --bgimage: url("data:image/svg+xml,%3Csvg viewBox='0 -10 17.3205 10' xmlns='http://www.w3.org/2000/svg' id='hexabg' height='37.795753' width='65.464134'%3E%3Cpath style='fill:%232f2f2f;stroke:none;stroke-width:0.5' id='hexagon' d='m 13.6602,-4.9999998 -2.5,-4.33012 H 6.16025 l -2.5,4.33012 2.5,4.33013904 h 4.99995 z' /%3E%3C/svg%3E");
    --bgfactor: 0.6;
    --bgxsize: calc(var(--bgfactor) * 65.46413px);
    --bgysize: calc(var(--bgfactor) * 37.79575px);
    --xshift: calc(var(--bgxsize) / 2);
    --yshift: calc(var(--bgysize) / 2);
    --progress-primary-color: rgba(0, 95, 0, 0.6);
    --progress-secondary-color: rgba(0, 75, 0, 0.6);
}

body {
    background-color: #444444;
    background-image: var(--bgimage), var(--bgimage);
    background-repeat: repeat;
    background-position: 0px 0px, var(--xshift) var(--yshift);
    background-size: var(--bgxsize) var(--bgysize), var(--bgxsize) var(--bgysize);
    color: #FFFFFF;
    font-family: Market Sans, Arial, sans-serif;
    text-align: center;
}

.list_entry {
    display: flex;
    padding: 0px;
    margin: 0 auto;
    margin-top: 5px;
    max-width: 300px;
    min-width: 300px;

    background: rgba(95, 95, 95, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

.state {
    padding: 10px;
    display: flex;
}

.label {
    padding: 10px;
    display: flex;
}

.desc {
    padding: 10px;
    display: flex;
}

#progress_bar {
    color: white;
    background-color: #003300;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
    max-width: 300px;
    min-width: 300px;
    height: 20px;

    background: rgba(95, 95, 95, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

#progress_bar:before {
  content: "Configuration application status";
  position: absolute;
  font-size: 10px;
  top: -12px;
  transform: translateX(-50%);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#progress_fill {
    position: relative;

    background: repeating-linear-gradient(
      45deg,
      var(--progress-primary-color),
      var(--progress-primary-color) 10px,
      var(--progress-secondary-color) 10px,
      var(--progress-secondary-color) 20px
    );

    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    width: 20%;
    height: 20px;
    top: 0px;
}

#progress_label {
    color: white;
    position: relative;
    height: 20px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

#status_box {
  margin-bottom: 20px;
}

#log_box {
  padding: 0px;
  margin: 0 auto;
  margin-top: 5px;
  max-width: 300px;
  min-width: 300px;

  background: rgba(95, 95, 95, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
  border: 1px solid rgba(255, 255, 255, 0.19);
}

#log_output {
  margin-top: 20px;
  overflow: scroll;
  height: 300px;
  padding: 5px;
}

.log_entry {
  display: flex;
  padding: 2px;
  margin-top: 10px;
}

.warning {
  color: white;
  background-color: #fd880055;
}

.error {
  color: white;
  background-color: #ff000055;
}

.debug {
  color: white;
  background-color: #0000ff55;
}

#progress_error, #status_error, #log_error {
  color: red;
  padding: 3px;
  font-size: 10px;
}
